In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import bw2io as bi
import bw2calc as bc
import bw2data as bd
import bw2analyzer as ba
import os

## France electricity

In [6]:
df_elect_prod_data = pd.read_csv('Actual Generation per Production Type_202401010000-202501010000.csv')
#df_elect_prod_data.head(10)

,Area,MTU,Biomass - Actual Aggregated [MW],Energy storage - Actual Aggregated [MW],Fossil Brown coal/Lignite - Actual Aggregated [MW],Fossil Coal-derived gas - Actual Aggregated [MW],Fossil Gas - Actual Aggregated [MW],Fossil Hard coal - Actual Aggregated [MW],Fossil Oil - Actual Aggregated [MW],Fossil Oil shale - Actual Aggregated [MW],...,Hydro Run-of-river and poundage - Actual Aggregated [MW],Hydro Water Reservoir - Actual Aggregated [MW],Marine - Actual Aggregated [MW],Nuclear - Actual Aggregated [MW],Other - Actual Aggregated [MW],Other renewable - Actual Aggregated [MW],Solar - Actual Aggregated [MW],Waste - Actual Aggregated [MW],Wind Offshore - Actual Aggregated [MW],Wind Onshore - Actual Aggregated [MW]
0,BZN|ES,01.01.2024 00:00 - 01.01.2024 00:15 (CET/CEST),244,n/e,0,0,4552,280,24,0,...,1016,2544,0,7096,0,76,28,240,0,5376
1,BZN|ES,01.01.2024 00:15 - 01.01.2024 00:30 (CET/CEST),244,n/e,0,0,4452,280,20,0,...,1004,2160,0,7096,0,76,28,240,0,5380
2,BZN|ES,01.01.2024 00:30 - 01.01.2024 00:45 (CET/CEST),252,n/e,0,0,4428,280,20,0,...,1008,2144,0,7096,0,76,28,244,0,5536
3,BZN|ES,01.01.2024 00:45 - 01.01.2024 01:00 (CET/CEST),248,n/e,0,0,4316,280,20,0,...,1008,2104,0,7096,0,76,28,248,0,5624
4,BZN|ES,01.01.2024 01:00 - 01.01.2024 01:15 (CET/CEST),244,n/e,0,0,4268,280,20,0,...,996,2000,0,7096,0,76,28,248,0,5632
5,BZN|ES,01.01.2024 01:15 - 01.01.2024 01:30 (CET/CEST),240,n/e,0,0,4380,276,20,0,...,960,2052,0,7096,0,76,28,248,0,5664
6,BZN|ES,01.01.2024 01:30 - 01.01.2024 01:45 (CET/CEST),228,n/e,0,0,4404,272,20,0,...,948,2044,0,7096,0,72,28,244,0,5672
7,BZN|ES,01.01.2024 01:45 - 01.01.2024 02:00 (CET/CEST),228,n/e,0,0,4272,272,20,0,...,952,1948,0,7096,0,72,28,248,0,5656
8,BZN|ES,01.01.2024 02:00 - 01.01.2024 02:15 (CET/CEST),228,n/e,0,0,4104,272,20,0,...,948,1824,0,7096,0,72,28,248,0,5608
9,BZN|ES,01.01.2024 02:15 - 01.01.2024 02:30 (CET/CEST),220,n/e,0,0,4312,272,20,0,...,948,1884,0,7096,0,72,28,248,0,5612

In [10]:
(df_elect_prod_data.loc[[6129]])

,Area,MTU,Biomass - Actual Aggregated [MW],Energy storage - Actual Aggregated [MW],Fossil Brown coal/Lignite - Actual Aggregated [MW],Fossil Coal-derived gas - Actual Aggregated [MW],Fossil Gas - Actual Aggregated [MW],Fossil Hard coal - Actual Aggregated [MW],Fossil Oil - Actual Aggregated [MW],Fossil Oil shale - Actual Aggregated [MW],...,Hydro Run-of-river and poundage - Actual Aggregated [MW],Hydro Water Reservoir - Actual Aggregated [MW],Marine - Actual Aggregated [MW],Nuclear - Actual Aggregated [MW],Other - Actual Aggregated [MW],Other renewable - Actual Aggregated [MW],Solar - Actual Aggregated [MW],Waste - Actual Aggregated [MW],Wind Offshore - Actual Aggregated [MW],Wind Onshore - Actual Aggregated [MW]
6129,BZN|ES,04.03.2024 20:15 - 04.03.2024 20:30 (CET/CEST),308,n/e,0,0,4160,248,0,0,...,1336,5572,0,5140,12,84,132,204,0,14212

In [20]:
df_fr_elect_prod_data = pd.read_excel('fr_elect_prod_data.xlsx',na_values="n/e")

In [21]:
df_fr_elect_prod_data.head(5)

,Date,Hour,Biomass,Energy_storage,Fossil_Brown_coal/Lignite,Fossil_Coal-derived_gas,Fossil_Gas,Fossil_Hard_coal,Fossil_Oil,Fossil_Oil_shale,...,Hydro_Run-of-river_and_poundage,Hydro_Water_Reservoir,Marine,Nuclear,Other,Other_renewable,Solar,Waste,Wind_Offshore,Wind_Onshore
0,05.01.2024,00:00 - 01:00,346,NaN,NaN,NaN,4632,15,189,NaN,...,6085,3437,NaN,46727,NaN,NaN,0,103,405,11381
1,05.01.2024,01:00 - 02:00,351,NaN,NaN,NaN,3775,15,187,NaN,...,5986,2819,NaN,46733,NaN,NaN,0,112,353,11271
2,05.01.2024,02:00 - 03:00,348,NaN,NaN,NaN,3083,15,187,NaN,...,5788,2551,NaN,46854,NaN,NaN,0,109,326,10914
3,05.01.2024,03:00 - 04:00,343,NaN,NaN,NaN,2731,15,187,NaN,...,5743,2368,NaN,47133,NaN,NaN,0,107,266,10452
4,05.01.2024,04:00 - 05:00,342,NaN,NaN,NaN,2670,15,187,NaN,...,5671,2323,NaN,45766,NaN,NaN,0,107,284,10158

In [23]:
df_fr_elect_prod_data['Sum_elec_prod'] = df_fr_elect_prod_data.iloc[:, 2:].sum(axis=1)
df_fr_elect_prod_data.head(5)

,Date,Hour,Biomass,Energy_storage,Fossil_Brown_coal/Lignite,Fossil_Coal-derived_gas,Fossil_Gas,Fossil_Hard_coal,Fossil_Oil,Fossil_Oil_shale,...,Hydro_Water_Reservoir,Marine,Nuclear,Other,Other_renewable,Solar,Waste,Wind_Offshore,Wind_Onshore,Sum_elec_prod
0,05.01.2024,00:00 - 01:00,346,NaN,NaN,NaN,4632,15,189,NaN,...,3437,NaN,46727,NaN,NaN,0,103,405,11381,148828.0
1,05.01.2024,01:00 - 02:00,351,NaN,NaN,NaN,3775,15,187,NaN,...,2819,NaN,46733,NaN,NaN,0,112,353,11271,144134.0
2,05.01.2024,02:00 - 03:00,348,NaN,NaN,NaN,3083,15,187,NaN,...,2551,NaN,46854,NaN,NaN,0,109,326,10914,144322.0
3,05.01.2024,03:00 - 04:00,343,NaN,NaN,NaN,2731,15,187,NaN,...,2368,NaN,47133,NaN,NaN,0,107,266,10452,143424.0
4,05.01.2024,04:00 - 05:00,342,NaN,NaN,NaN,2670,15,187,NaN,...,2323,NaN,45766,NaN,NaN,0,107,284,10158,141024.0

In [26]:
df2 = df_fr_elect_prod_data.dropna(axis=1)

In [36]:
#Filter rows 1 to 24 (0-based indexing for rows 0-23)
df_day1 = df2.iloc[0:24,2:]
# Calculate the column sums for rows 1 to 24 
sums_day1 = df_day1.sum(axis=0) 
# Calculate the percentage relative to column sums 
percentage1 = df_day1.div(sums_day1, axis=1) 
#Filter rows 1 to 24 (0-based indexing for rows 0-23)
df_day2 = df2.iloc[24:48,2:] 
# Calculate the column sums for rows 1 to 24 
sums_day2 = df_day2.sum(axis=0) 
# Calculate the percentage relative to column sums 
percentage2 = df_day2.div(sums_day2, axis=1)

In [39]:
percentage1
percentage1.to_csv('fr_elec_perc_day1.csv', index=False)

In [40]:
percentage2
percentage2.to_csv('fr_elec_perc_day2.csv', index=False)